[http]
	# Proxies no more
	# proxy = http://proxy-blr.eng.vmware.com:3128
	sslVerify = false
[user]
	email = nsivanandam@vmware.com
	name = Naveen Kumar Sivanandam
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "https://rubyforge.org/"]
	insteadOf = git://rubyforge.org/
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
[core]
	excludesfile = /home/nsivanandam/.gitignore_global
	editor = vim
[safe]
	directory = /etc
[merge]
	conflictStyle = diff3
